*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page1{
    background-color: rgb(168, 247, 247);
}
.page2{
    background-color: rgb(247, 168, 168);
}
.page3{
    background-color: rgb(247, 247, 168);
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
}

